@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;
    --radius: 1rem;
  }
}

@layer base {
  * { @apply border-border; }
  body {
    @apply bg-[#0a0a0c] text-slate-100 antialiased selection:bg-primary selection:text-black;
    font-family: 'DM Sans', sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Grotesk', sans-serif;
  }
}

/* Scrollbar personalizada dark */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #1e1e21; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #2d2d30; }